.introheader{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.aboutBen{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 75%;
    min-height: 500px;
    font-size: 38px;
    margin-left: 13%;
}
.Blog{
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        width: 75%;
        min-height: 500px;
        font-size: 38px;
        margin-left: 13%;  
}
h2{
    font-size: 40px !important;
}